.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  height: 12rem;
  width: 15rem;
  justify-content: space-around;
  align-items: center;
}

.result {
  padding-top: 1rem;
  font-size: 26px;
}

.date-input{
  height: 2rem;
  width: 100%;
}

.get-data-button {
  padding: 0.5rem;
  width: 100%;
  font-size: 22px;
}